<template>
  <div class="create-alarm">

    <create-hipchat-action></create-hipchat-action>
  </div>
</template>

<script>
</script>

<style lang="sass" src="bulma">
</style>
<style scoped>
.create-action {
  margin-left: 80px;
  margin-right: 80px;
}
</style>
