<template>
  <div class="creator">
    <hr>
    <div class="hero-body">
      <p class="title"> oooo </p>
    </div>
    <div class="columns">
      <div class="column">
        <lister-checks></lister-checks>
      </div>
      <div class="column">
        <lister-actions></lister-actions>
      </div>
      <div class="column">
        <lister-alarms></lister-alarms>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
    };
  },
};
</script>

<style lang="sass" src="bulma"></style>
<style scoped>
  /* Your css for this file... */
</style>