<template>
  <div class="create-hipchat-action">

    <form action="" method="post" >
        <div class="field">
        <label class="label">Name</label>
            <input required class="input" type="text" placeholder="The Best Action ever"/>
        </div>

        <div class="field">
        <label class="label">Description</label>
            <input  class="input" type="text" placeholder="The Best Description ever">
        </div>

        <div class="field">
        <label class="label">Room ID</label>
            <input required class="input" type="text" placeholder="roomid"/>
        </div>

        <div class="field">
        <label class="label">Message</label>
            <input required class="input" type="text" placeholder="Message..."/>
        </div>

        <div class="field">
        <label class="label">Message Format</label>
            <input required class="input" type="text" placeholder="text"/>
        </div>

        <div class="field">
        <label class="label">Color</label>
            <input required class="input" type="text" placeholder="green"/>
        </div>
        
        <input class="button is-primary" type="submit" value="Submit input">
    </form>
  </div>
</template>

<script>
</script>

<style lang="sass" src="bulma">
</style>
<style scoped>
.create-check {
  margin-left: 80px;
  margin-right: 80px;
}

.dropdown-menu {
    max-width: none;
    width: auto;
}
</style>
