<template>
  <div class="create-check">    

    <div class="dropdown is-hoverable">
      <div class="dropdown-trigger">
        <button class="button" aria-haspopup="true" aria-controls="dropdown-menu4">
          <span>Choose check type</span>
          <span class="icon is-small">
            <i class="fa fa-angle-down" aria-hidden="true"></i>
          </span>
        </button>
      </div>
      <div class="dropdown-menu" id="dropdown-menu4" role="menu">
        <div class="dropdown-content">
          <div class="dropdown-item">
            <p>You can insert <strong>any type of content</strong> within the dropdown menu.</p>
          </div>
        </div>
      </div>
    </div>

    <create-psi-check v-show="$store.state.psiType"></create-psi-check>
  </div>
</template>

<script>
/*
window.addEventListener('load', () => {
  const dropdown = document.querySelector('.dropdown');
  dropdown.addEventListener('click', (event) => {
    event.stopPropagation();
    dropdown.classList.toggle('is-active');
  });
});
*/
</script>

<style lang="sass" src="bulma">
</style>
<style scoped>
.create-check {
  margin-left: 80px;
  margin-right: 80px;
}

.dropdown-menu {
    max-width: none;
    width: auto;
}
</style>
