<template>
  <div class="create-alarm">

    <form action="" method="post" >
        <div class="field">
        <label class="label">Name</label>
            <input required class="input" type="text" placeholder="The Best Alarm ever"/>
        </div>

        <div class="field">
        <label class="label">Description</label>
            <input  class="input" type="text" placeholder="The Best Description ever">
        </div>
        
        <!-- 
          Need to find a clever way for binding actions and checks to alarms
          -->
        <input class="button is-primary" type="submit" value="Submit input">
    </form>

    </div>
  </div>
    <!-- id, alarm_id, name, description, isTriggered-->
</template>

<script>
export default {
  props: ['checks', 'actions'],
};
</script>

<style lang="sass" src="bulma">
</style>
<style scoped>
.create-alarm {
  margin-left: 80px;
  margin-right: 80px;
}
</style>
