<template>
  <div class="create-psi-check">

    <form action="https://rolzat6u7k.execute-api.eu-central-1.amazonaws.com/beta/checks" method="post" >
        <div class="field">
        <label class="label">Name</label>
            <input required class="input" type="text" placeholder="The Best Check ever"/>
        </div>

        <div class="field">
        <label class="label">Description</label>
            <input  class="input" type="text" placeholder="The Best Description ever">
        </div>

        <div class="field">
        <label class="label">Trigger Count</label>
            <input class="input" type="number" placeholder="1"/>
        </div>

        <div class="field">
        <label class="label">Target URL</label>
            <input required class="input" type="text" name="name" placeholder="URL"/>
        </div>

        <div class="field">
        <label class="label">API_KEY</label>
            <input required class="input" type="text" placeholder="API_KEY"/>
        </div>

        <label class="checkbox">
            Filter_Third_Party_Resources
            <input type="checkbox"/>
        </label>

        <div class="field">
        <label class="label">Locale</label>
            <input required class="input" type="text" placeholder="en"/>
        </div>

        <label class="checkbox">
            Screenshot
            <input type="checkbox"/>
        </label>

        <div class="field">
        <label class="label">Strategy</label>
            <input class="input" type="text" placeholder="desktop">
        </div>

        <div class="field">
        <label class="label">Score Threshold</label>
            <input class="input" type="number" placeholder="80"/>
        </div>
        
        <input class="button is-primary" type="submit" value="Submit input">
    </form>
      <!-- https://stackoverflow.com/questions/9096515/how-to-submit-2-forms-in-one-page-with-a-single-submit-button-->
  </div>
</template>

<script>
</script>

<style lang="sass" src="bulma">
</style>
<style scoped>
.create-check {
  margin-left: 80px;
  margin-right: 80px;
}

.dropdown-menu {
    max-width: none;
    width: auto;
}
</style>
