<template>
  <div class="lister">
    <div class="columns is-desktop">
      <div class="column">
        <lister-alarms :alarms='alarms' ></lister-alarms>
        <create-alarm v-show="$store.state.createAlarmToggled" :checks='checks' :actions='actions'></create-alarm>        
      </div>
      <div class="column">
        <lister-checks :checks='checks'></lister-checks>
        <create-check v-show="$store.state.createCheckToggled"></create-check>
      </div>
      <div class="column">
        <lister-actions :actions='actions'></lister-actions>
        <create-action v-show="$store.state.createActionToggled"></create-action>
      </div>
    </div>
  </div>
</template>

<script>
import axios from 'axios';

const actionsApi = 'https://5135y1pu8j.execute-api.eu-central-1.amazonaws.com/beta/actions';
const alarmsApi = 'https://tegs702jyd.execute-api.eu-central-1.amazonaws.com/beta/alarms';
const checksApi = 'https://ei2cjygovf.execute-api.eu-central-1.amazonaws.com/beta/checks';

export default {
  data() {
    return {
      alarms: [],
      checks: [],
      actions: [],
    };
  },
  methods: {
    fetchAlarms() {
      axios.get(alarmsApi).then((response) => {
        this.alarms = JSON.parse(response.data);
      }, (error) => {
        console.log(error);
      });
    },
    fetchChecks() {
      axios.get(checksApi).then((response) => {
        this.checks = JSON.parse(response.data);
      }, (error) => {
        console.log(error);
      });
    },
    fetchActions() {
      axios.get(actionsApi).then((response) => {
        this.actions = JSON.parse(response.data);
      }, (error) => {
        console.log(error);
      });
    },
  },
  mounted() {
    this.fetchActions();
    this.fetchAlarms();
    this.fetchChecks();
  },
};
</script>

<style lang="sass" src="bulma"></style>
<style scoped>
.lister
{
  margin: 2rem;
}

</style>