<template>
  <div id='lister-alarms'>
    <p class="title"> Alarms </p>
    <br>
    <table class="table">
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for='alarm in alarms' :key='alarm.alarm_id'>
          <th>{{alarm.alarm_id}}</th>
          <td>{{alarm.name}}</td>
          <td>{{alarm.description}}</td>
        </tr>
      </tbody>
    </table>
    <br>
    <a class="button is-primary" @click="$store.dispatch('toggleCreateAlarm')">Create new</a>
  </div>
</template>

<script>
export default {
  props: ['alarms'],
};
</script>

<style lang="sass" src="bulma"></style>
<style scoped>
.title, table, button
{
  display: inline;
  float: none;
}
</style>