<template>
  <div id='lister-checks'>
    <p class="title"> Checks </p>
    <br>
    <table class="table">
      <thead>
        <tr>
          <th>ID</th>
          <th>Trigger Count</th>
          <th>Triggered</th>
          <th>Target API</th>          
        </tr>
      </thead>

      <tbody>
        <tr v-for='check in checks' :key='check.check_id'>
          <th>{{check.check_id}}</th>
          <td>{{check.triggerCount}}</td>
          <td>{{check.isTriggered}}</td>
          <td>{{check.target}}</td>          
        </tr>
      </tbody>

    </table>
    <br>
    <a class="button is-primary" @click="$store.dispatch('toggleCreateCheck')">Create new</a>
  </div>
</template>

<script>
export default {
  props: ['checks'],
};
</script>

<style lang="sass" src="bulma">
</style>
<style scoped>
.title, table, button
{
  display: inline;
  float: none;
}

#lister-checks
{
  margin-bottom: 10px;
}
</style>