<template>
  <div id='lister-actions'>
    <p class="title"> Actions </p>
    <br>
    <table class="table">
      <thead>
        <tr>
          <th>ID</th>
          <th>Target API</th>
        </tr>
      </thead>

      <tbody>
        <tr v-for='action in actions' :key='action.action_id'>
          <th>{{action.action_id}}</th>
          <td>{{action.target}}</td>
        </tr>
      </tbody>

    </table>
    <br>
    <a class="button is-primary" @click="$store.dispatch('toggleCreateAction')">Create new</a>
  </div>
</template>

<script>
export default {
  props: ['actions'],
  data() {
    return {
      selectedId: 1, // https://codepen.io/anon/pen/LjgrZv
    };
  },
};
</script>

<style lang="sass" src="bulma"></style>
<style scoped>
.title, table, button
{
  display: inline;
  float: none;
}
</style>