<template>
</template>

<script>
export default {
  data() {
    return {
    };
  },
};
</script>

<style lang="sass" src="bulma">
</style>
<style scoped>
.title, table, button
{
  display: inline;
  float: none;
}
</style>