<template>
  <section class="hero is-primary">
    <div class="hero-body">
      <div class="container">
        <h1 class="title">
          WATCHDOG
        </h1>
        <h2 class="subtitle">
          The best description of all time
        </h2>
      </div>
    </div>
    <!--<img src="assets/watchdog-icon.png">-->
  </section>
</template>

<script>
export default {
  data() {
    return {
    };
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->

<style scoped>

title {
  position: absolute;
}

container {
  margin: 0 auto;
  position: relative;
}

</style>
